<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-5 order-1'>

      <div class='row text-center'>

        <div class='col-sm col-12 order-1'>         
          <div class='card mx-auto'>
          <h4 class='card-header facet-field-heading' >Browse All</h4>
             <%= link_to image_tag("maplayers-index-page.svg",{:class => "uw-home-icon", :alt => "Browse All"}), "/?utf8=✓&search_field=all_fields&q=" %>
          </div>     
        </div>
        <div class='col-sm col-12 order-2'>         
          <div class='card mx-auto'>
          <h4 class='card-header facet-field-heading'>Statewide Layers</h4>
            <%= link_to image_tag("wisconsin.svg",{:class => "uw-home-icon", :alt => "Statewide Layers"}), "/?f%5Bdct_isPartOf_sm%5D%5B%5D=Statewide" %>
          </div>
        </div>
      </div>
      <div class='row text-center'>
        <div class='col-sm col-12 order-3'>
          
          <div class='card mx-auto'>
          <h4 class='card-header facet-field-heading'>Coastal Layers</h4>
            <%= link_to image_tag("waves.svg",{:class => "uw-home-icon", :alt => "Coastal Layers"}), "/?f%5Bdct_isPartOf_sm%5D%5B%5D=Coastal" %>
          </div>     
        </div>
        <div class='col-sm col-12 order-4'>
          
          <!-- <div class='card uw-icon-container mx-auto'> -->
          <div class='card mx-auto'> 
          <h3 class='card-header facet-field-heading'>Aerial Imagery</h3>
            <%= link_to image_tag("airphoto.svg",{:class => "uw-home-icon", :alt => "Aerial Imagery"}), "/?f%5Bdct_isPartOf_sm%5D%5B%5D=Aerial+Imagery" %>
          </div>
        </div>
      </div>
      <div class='row text-left'>
        <div class='col-md order-1 mb-3'> 
            <p><em>GeoData@Wisconsin</em> is an online geoportal that provides discovery and access to Wisconsin geospatial data, imagery, and scanned maps. To learn more about the all-new GeoData application, check out our <a href="/pages/beta">beta test page</a>!</p>
        </div>
    </div>
      <div class='row'>
        <div class='col-sm order-1'>
        <h4 class='sr-only'>Creator</h4>
           <%= render_facet_partials [:dc_creator_sm], {class:'active'} %>
        </div>
        <div class='col-sm order-2'>
        <h4 class='sr-only'>Held By</h4>
          <%= render_facet_partials [:dct_provenance_s] %>
        </div>
      </div>
    </div>
    <div id="wrapper-map" class='col-lg-7 order-2'>
      <%= content_tag :div, '', id: 'map', data: { map: 'home', 'catalog-path'=> search_catalog_path , 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap, leaflet_options: leaflet_options } %>
    </div>
  </div>
</div>
