<% # header bar for doc items in index view -%>
<%= content_tag :div, class: 'documentHeader row', data: { layer_id: document.id, bbox: document.bounding_box_as_wsen } do %>
<div class="list-icon col">
  <div class='media'>
    <%- if document.sidecar.image.attached? %>
      <%- if document.sidecar.image.variable? %>
        <%= image_tag document.sidecar.image.variant(resize: "200"), {class: 'img-fluid'} %>
      <%- else %>
        <%= image_tag document.sidecar.image, {class: 'mr-3'} %>
      <%- end %>
    <%- else %>
        <%= geoblacklight_icon(document[Settings.FIELDS.GEOM_TYPE]) %>
    <%- end %>
  </div>
</div>
<div class="list-title col">
    <p class="mb-1">
        <% counter = document_counter_with_offset(document_counter) %>
        <span class="document-counter">
            <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
        </span>
        <span><%= link_to_document document, counter: counter, title: document[blacklight_config.index.title_field] %> <%= render partial: 'header_icons', locals: { document: document } %></span></p>
    <p><%= geoblacklight_present(:index_fields_display, document) %></p>
</div>
<% end %>
